[alias]
	stat = status  # old habits
	st   = status
	di   = diff
	ds   = diff --staged
	a    = add
	ci   = commit
	co   = checkout
	br   = branch
	sta  = stash
	lg   = "log --graph --pretty=format:' \
		%Cred%h%Creset \
		-%C(yellow)%d%Creset \
		%s \
		%Cgreen(%cr) \
		%C(bold blue)<%an>%Creset' \
		--abbrev-commit --date=relative"
	
	# rebases an upstream repo's changes onto your master and whatever branch
	gf = "!f() { \
		BRANCH=`git rev-parse --abbrev-ref HEAD`; \
		if [ $? -ne 0 ]; then exit -1; fi; \
		git fetch upstream || exit -1; \
		if [ $BRANCH != 'master' ]; then git co master; fi; \
		git pull --rebase upstream master || exit -1; \
		if [ $BRANCH != 'master' ]; then \
			git checkout $BRANCH; \
			git rebase master $BRANCH; \
		fi; \
	}; f"

	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "

[core]
	pager = less -FXRS -x2
	excludesfile = /Users/paul/.gitignore_global
	editor = vim
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[branch]
	autosetupmerge = true
[rebase]
	autosquash = true
[push]
	default = current
[user]
	email = pestilence669@users.noreply.github.com
	name = Paul Chandler
	signingkey = BF354CCA05622D7FB1BF3E97900B4E5418365FE0
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[commit]
	gpgsign = true
